<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

<!--字符编码过滤器-->
    <filter>
        <filter-name>CharacterEncodingFilter</filter-name>
        <filter-class>com.pushihao.filter.CharacterEncodingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CharacterEncodingFilter</filter-name>
        <url-pattern>/servlet/*</url-pattern>
    </filter-mapping>

<!--登录过滤器-->
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>com.pushihao.filter.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/jsp/menu.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/jsp/modifyStudent.jsp</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>SystemManagerLoginFilter</filter-name>
        <filter-class>com.pushihao.filter.SystemManagerLoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SystemManagerLoginFilter</filter-name>
        <url-pattern>/jsp/adminMenu.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SystemManagerLoginFilter</filter-name>
        <url-pattern>/jsp/modifyTeacher.jsp</url-pattern>
    </filter-mapping>



    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>com.pushihao.servlet.teacher.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/servlet/login-servlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>rootLoginServlet</servlet-name>
        <servlet-class>com.pushihao.servlet.systemManager.SystemManagerLoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>rootLoginServlet</servlet-name>
        <url-pattern>/servlet/root-login-servlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>registServlet</servlet-name>
        <servlet-class>com.pushihao.servlet.teacher.RegistServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>registServlet</servlet-name>
        <url-pattern>/servlet/regist-servlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>exitLoginServlet</servlet-name>
        <servlet-class>com.pushihao.servlet.teacher.ExitLoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>exitLoginServlet</servlet-name>
        <url-pattern>/servlet/exit-login-servlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>teachShowStudentServlet</servlet-name>
        <servlet-class>com.pushihao.servlet.student.TeacherShowStudentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>teachShowStudentServlet</servlet-name>
        <url-pattern>/servlet/teacher-show-student-servlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>turnPageServlet</servlet-name>
        <servlet-class>com.pushihao.servlet.student.TurnPageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>turnPageServlet</servlet-name>
        <url-pattern>/servlet/turn-page-servlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>systemManagerShowServlet</servlet-name>
        <servlet-class>com.pushihao.servlet.systemManager.SystemManagerShowServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>systemManagerShowServlet</servlet-name>
        <url-pattern>/servlet/system-manager-show-servlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>deleteTeacherServlet</servlet-name>
        <servlet-class>com.pushihao.servlet.systemManager.DeleteTeacherServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteTeacherServlet</servlet-name>
        <url-pattern>/servlet/delete-teacher-servlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>updateTeacherServlet</servlet-name>
        <servlet-class>com.pushihao.servlet.systemManager.UpdateTeacherServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>updateTeacherServlet</servlet-name>
        <url-pattern>/servlet/update-teacher-servlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>deleteStudentServlet</servlet-name>
        <servlet-class>com.pushihao.servlet.teacher.DeleteStudentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteStudentServlet</servlet-name>
        <url-pattern>/servlet/delete-student-servlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>updateStudentServlet</servlet-name>
        <servlet-class>com.pushihao.servlet.teacher.UpdateStudentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>updateStudentServlet</servlet-name>
        <url-pattern>/servlet/update-student-servlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>findTeacherServlet</servlet-name>
        <servlet-class>com.pushihao.servlet.systemManager.FindTeacherServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>findTeacherServlet</servlet-name>
        <url-pattern>/servlet/find-teacher-servlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>findStudentServlet</servlet-name>
        <servlet-class>com.pushihao.servlet.student.FindStudentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>findStudentServlet</servlet-name>
        <url-pattern>/servlet/find-student-servlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>addTeacherServlet</servlet-name>
        <servlet-class>com.pushihao.servlet.systemManager.AddTeacherServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addTeacherServlet</servlet-name>
        <url-pattern>/servlet/add-teacher-servlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>addStudentServlet</servlet-name>
        <servlet-class>com.pushihao.servlet.teacher.AddStudentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addStudentServlet</servlet-name>
        <url-pattern>/servlet/add-student-servlet</url-pattern>
    </servlet-mapping>

</web-app>